.progressbar {
  width: 25%;
  height: 25px;
  border-radius: 50px;
  border: 1px solid #000;
  background-color: #fff;
  margin-bottom: 10px;
  text-align: center;
}

.progressbar-fill {
  height: 100%;
  border-radius: 50px;
  background-color: #54b4d3;
  transition: width 0.5 ease-out;
  color: #fff;
}
